/* Add CSS Styling */

.class {

    background-color: lightpink;
    font-family: verdana, DejaVu Sans, sans-serif;
}

.second class {

    background-color: lightpink;
    font-family: verdana, DejaVu Sans, sans-serif;
    font-size: 24px;
}


#one {

    color: blue;
    font-size: 24px;
}


#two {

    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
