body {
  background: #eee;
  font-family: sans-serif;
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 8px auto;
  padding: 6px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
    text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
padding: 8px 24px;
  margin: 0 auto;
}